In [1]:
import pandas as pd

In [2]:
def get_direct_link(shared_link):
    return 'https://drive.google.com/uc?export=download&id=' + shared_link.split('/')[-2]

link = "https://drive.google.com/file/d/1Jmux9z4gk5XMPco5wLeWhtkgI3jD3DMn/view?usp=drive_link"

direct_link = get_direct_link(link)
df = pd.read_csv(direct_link)

In [4]:
columns = ['R_fighter',
 'B_fighter',
 'R_odds',
 'B_odds',
 'date',
 'location',
 'country',
 'Winner']

In [5]:
drop_columns = list(set(df.columns) - set(columns))

In [6]:
df = df.drop(columns = drop_columns)

In [8]:
def convert_to_decimal_odds(dataframe):
    def american_to_decimal(american_odds):
        if american_odds >= 0:
            return (american_odds / 100) + 1
        else:
            return (100 / abs(american_odds)) + 1

    dataframe['R_odds'] = dataframe['R_odds'].apply(american_to_decimal)
    dataframe['B_odds'] = dataframe['B_odds'].apply(american_to_decimal)

    return dataframe

In [9]:
df = convert_to_decimal_odds(df)

In [10]:
df.date = pd.to_datetime(df.date)

In [11]:
df = df.sort_values(by='date')

In [13]:
df[df['date'] >= '2015-06-01']

,R_fighter,B_fighter,R_odds,B_odds,date,location,country,Winner
2990,Thiago Tavares,Brian Ortega,1.689655,2.250000,2015-06-06,"New Orleans, Louisiana, USA",USA,Blue
2987,Tim Boetsch,Dan Henderson,1.540541,2.600000,2015-06-06,"New Orleans, Louisiana, USA",USA,Blue
2988,Ben Rothwell,Matt Mitrione,2.450000,1.606061,2015-06-06,"New Orleans, Louisiana, USA",USA,Red
2989,Dustin Poirier,Yancy Medeiros,1.400000,3.300000,2015-06-06,"New Orleans, Louisiana, USA",USA,Red
2991,Joe Soto,Anthony Birchak,1.500000,2.700000,2015-06-06,"New Orleans, Louisiana, USA",USA,Blue
...,...,...,...,...,...,...,...,...
8,Douglas Silva de Andrade,Gaetano Pirrello,1.357143,3.250000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red
9,Stephanie Egger,Shanna Young,1.645161,2.350000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red
10,Alejandro Perez,Johnny Eduardo,1.333333,3.350000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red
5,Antonina Shevchenko,Casey O'Neill,3.150000,1.377358,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue
0,Thiago Santos,Johnny Walker,1.666667,2.300000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red

In [14]:
fighters = set(df.R_fighter).union(set(df.B_fighter))

In [16]:
fighters = pd.DataFrame(fighters)

In [17]:
fighters.to_csv('ufc_fighters.csv', encoding='utf-8', index=False)

In [18]:
df.to_csv('ufc_odds.csv', encoding='utf-8', index=False)